.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;

  .title--holder {
    display: inline-block;
    background: radial-gradient(50% 800% at 50% 45.77%, #00FE38 30.21%, #1C3D92 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    margin-top: 20px;
  }

  .stats {
    h2 {
      color: #05FF00;
    }

    p {
      color: #fafafa;
    }

  }
}

.profile--card {
  position: relative;
  background: rgba(0, 0, 0, 0.01);
  border: 2px solid #156B00;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(17, 24, 47, 0.16);
  border-radius: 20px;
  padding: 40px;
  color: #5C64C7;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    color: inherit;
  }

  h3 {
    color: rgba(255, 255, 255, 0.49);
  }

  button {
    border: 2px solid #5C64C7;
    border-radius: 20px;
    background: transparent;
    padding: 5px 20px;
    color: #5C64C7;
    font-weight: 700;
  }
  .radio--label {
    color: #5C64C7;
    font-size: 1.8rem;
  }
  .uk-radio, .uk-checkbox {
    border: 2px solid #5C64C7;
    height: 20px;
    width: 20px;
  }
}
.action--card {
  position: relative;
  background: rgba(0, 0, 0, 0.01);
  border: 2px solid #156B00;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(17, 24, 47, 0.16);
  border-radius: 20px;
  padding: 40px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .action--inputs {
    width: 100%;
    position: relative;
    .copy--button {
      border: 0;
      background: transparent;
      position: absolute;
      color: #5C64C7;
      right: 0;
      bottom: 20px;
      cursor: pointer;
    }
    label {
      color: rgba(255, 255, 255, 0.49);
      font-size: 1.5rem;
      margin-top: 10px;
      display: inline-block;
    }
    .uk-input:disabled, .uk-select:disabled, .uk-textarea:disabled {
      background: rgba(32, 32, 32, 0.5);
      color: rgba(92, 100, 199, 0.49);
      border: 0;
      font-size: 1.2rem;
      &.id--input {
        color: #5C64C7;
      }
    }
  }
  .social--icons {
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
    img {
      margin-bottom: 20px;
      height: 60px;
    }
    h3 {
      color: rgba(255, 255, 255, 0.49);
      bottom: 0;
      display: inline-block;
    }
  }
}

.dashboard--nav {
  img {
    height: 30px;
  }
  span {
    font-size: 1.2rem;
  }
  a {
    display: flex;
    align-items: center;
    color: #fafafa;
    &:hover {
      color: #cfcbcb;
    }
  }
}

main {
  padding-bottom: 100px;
}

.partners {
  position: relative;
  background: rgba(0, 0, 0, 0.01);
  border: 2px solid #156B00;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(17, 24, 47, 0.16);
  border-radius: 20px;
  padding: 40px;

  h2 {
    color: #00FE38;
  }
}

.uk-sticky.uk-sticky-fixed.uk-sticky-below {
  background: linear-gradient(to right, #000000, transparent,black);
}


.partner--card {
  position: relative;
  background: rgba(0, 0, 0, 0.01);
  border: 2px solid #156B00;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(17, 24, 47, 0.16);
  border-radius: 20px;
  padding: 40px;
  color: #5C64C7;
  width: 33.333%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    position: absolute;
    width: 60%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  h2 {
    color: inherit;
  }

  h3 {
    color: rgba(255, 255, 255, 0.49);
    &.uplink {
      color: #156B00;
    }
  }
  .action--inputs {
    width: 100%;
    position: relative;
    .copy--button {
      border: 0;
      background: transparent;
      position: absolute;
      color: #5C64C7;
      right: 0;
      bottom: -10px;
      cursor: pointer;
    }
    label {
      color: rgba(255, 255, 255, 0.49);
      font-size: 1.5rem;
      margin-top: 10px;
      display: inline-block;
    }
    .uk-input:disabled, .uk-select:disabled, .uk-textarea:disabled {
      background: rgba(32, 32, 32, 0.5);
      color: rgba(92, 100, 199, 0.49);
      border: 0;
      font-size: 1.2rem;
      &.id--input {
        color: #5C64C7;
      }
    }
  }
  &.wind--card {
    border: 2px solid #20A0E9;
  }
  &.fire--card {
    border: 2px solid #C74343;
    width: 24%;
  }
}
.personal--card {
  background: rgba(0, 0, 0, 0.01);
  border: 2px solid #156B00;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(17, 24, 47, 0.16);
  border-radius: 20px;
  padding: 25px 40px;
  span {
    color: #5C64C7;
    font-size: 3.5rem;
    font-weight: 900;
  }
}