.btn {
  padding: 10px 40px;
  border: 0;
  cursor: pointer;
  border-radius: 25px;
  color: #fafafa;
  min-width: 175px;
  &.reg--btn {
    font-family: "Righteous", cursive;
    background: radial-gradient(50% 800% at 50% 45.77%, #1C3D92 0%, rgba(28, 61, 146, 0.18) 100%);
  }
  &.login--btn {
    font-family: "Righteous", cursive;
    background: radial-gradient(50% 800% at 50% 45.77%, rgba(28, 146, 33, 0.63) 0%, rgba(0, 254, 56, 0.09) 100%);
  }
}