<div class='action--card'>
	<img class='card--bg' src='assets/img/earth.svg' alt=''>
	<div>
		<div class='uk-flex-between uk-flex uk-flex-wrap'>
			<div class='uk-margin action--inputs'>
				<input id='invite' class='uk-input' type='text' value='1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2' disabled>
				<button class='copy--button'>Copy</button>
				<label for='invite'>Invite Link</label>
			</div>
		</div>
		<div class='uk-margin-top'>
			<div class='uk-margin action--inputs'>
				<input id='contract' class='uk-input' type='text' value='1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2' disabled>
				<button class='copy--button'>Copy</button>
				<label for='contract'>Smart Contract Address</label>
			</div>
		</div>
		<div class='uk-margin-top'>
			<div class='uk-margin action--inputs'>
				<input id='wallet' class='uk-input' type='text' value='1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2' disabled>
				<button class='copy--button'>Copy</button>
				<label for='wallet'>Wallet Address</label>
			</div>
		</div>
		<div class='uk-margin-top '>
			<div class='uk-margin action--inputs'>
				<input id='id' class='uk-input id--input' type='text' value='ID: 50129' disabled>
				<button class='copy--button'>Contact</button>
				<label for='id'>Unique ID</label>
			</div>
		</div>
	</div>
	<div class='uk-margin-top uk-flex social--icons'>
		<div>
			<img class='uk-margin-right' src='assets/img/facebook.svg' alt=''>
			<img class='uk-margin-right' src='assets/img/twitter.svg' alt=''>
			<img src='assets/img/telegram.svg' alt=''>
		</div>
		<h3>Talk About Us</h3>
	</div>
</div>