<section class='dashboard--nav uk-flex uk-flex-center'>
	<div class='uk-width-1-2@m uk-flex uk-flex-between'>
		<div>
			<a href='#'>
				<img class='uk-margin-right' src='assets/img/tips.svg' alt=''>
				<span>Tips</span>
			</a>
		</div>
		<div>
			<a href='#'>
				<img class='uk-margin-right' src='assets/img/home.svg' alt=''>
				<span>Home</span>
			</a>
		</div>
		<div>
			<a href='#'>
				<img class='uk-margin-right' src='assets/img/logout.svg' alt=''>
				<span>Logout</span>
			</a>
		</div>
	</div>
</section>