<div class='partner--card fire--card uk-margin-large-top'>
	<img src='assets/img/fire.svg' alt=''>
	<div>
		<h2>ID: 50129</h2>
		<h2>Fire</h2>
	</div>
	<div class='matrix'>
		<h3 class='uplink'>Invitee</h3>
	</div>
	<div class='uk-child-width-1-2@m uk-margin-top uk-flex uk-flex-wrap'>
		<div>
			<h2>2</h2>
			<h3>TIER</h3>
		</div>
		<div>
			<h2>1</h2>
			<h3>CYCLES</h3>
		</div>
	</div>
	<div class='uk-margin-top'>
		<div class='uk-margin action--inputs'>
			<input id='contract' class='uk-input' type='text' value='1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2' disabled>
			<button class='copy--button'>Copy</button>
		</div>
	</div>
</div>