<header>
    {{> navbar }}
    <div class="container">
        <div class="header--content uk-flex-wrap">
            <div class="register uk-width-1-4@m">
                <button class="reg--btn btn">Register</button>
            </div>
            <div class="header--image uk-width-1-2@m">
                <img src="{{root}}/assets/img/tree.png" alt="">
            </div>
            <div class="login uk-width-1-4@m">
                <button class="login--btn btn">Login</button>
            </div>
        </div>
        <div class="uk-width-1-1@M uk-text-center">
            <span class="title--holder">
                The Giving Tree
            </span>
        </div>
    </div>
</header>