<section class="how--it--works">
    <div class="container">
        <h3 class="uk-width-1-1@m uk-text-center">
            How It Works
        </h3>
        <h4 class="uk-width-1-1@m uk-text-center">
            Want to get started with giftJAM?
        </h4>
        <div class="uk-child-width-1-3@m steps" uk-grid uk-height-match=".step">
            <div>
                <div class="step uk-inline-clip uk-transition-toggle">
                    <img src="{{root}}/assets/img/ico1.png" alt="">
                    <h3 class="how--title">
                        Get Invited
                    </h3>
                    <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
                        <p class="uk-h4 uk-margin-remove">YOU are first invited to join the private community, as one
                            may participate by invite only</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="step uk-inline-clip uk-transition-toggle">
                    <img src="{{root}}/assets/img/ico2.png" alt="">
                    <h3 class="how--title">
                        Account Setup
                    </h3>
                    <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
                        <p class="uk-h4 uk-margin-remove">
                            An account is set-up for you with the required information and a username and password is
                            established.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="step uk-inline-clip uk-transition-toggle">
                    <img src="{{root}}/assets/img/ico3.png" alt="">
                    <h3 class="how--title">
                        One-Time Gifting of
                        $500
                    </h3>
                    <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
                        <p class="uk-h4 uk-margin-remove">
                            Once in the system as a “Fire”, you send a one-time gift of $500 to the “Earth” on a
                            matrix similar to this, where Earth is Level 3, Wind is Level 2 and Fire is Level 1:
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="step uk-inline-clip uk-transition-toggle">
                    <img src="{{root}}/assets/img/ico4.png" alt="">
                    <h3 class="how--title">
                        Get Gifted
                        $2000
                    </h3>
                    <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
                        <p class="uk-h4 uk-margin-remove">
                            The cycle continues to fill-up in the same manner and split until the “Fire” reaches the
                            “Earth” level, where you are gifted $2000 from four “Fires”
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="step uk-inline-clip uk-transition-toggle">
                    <img src="{{root}}/assets/img/ico3.png" alt="">
                    <h3 class="how--title">
                        Gift $1000
                        for Next Level
                    </h3>
                    <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
                        <p class="uk-h4 uk-margin-remove">
                            You then send a $1000 gift (or half) to go to the next level.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="step uk-inline-clip uk-transition-toggle">
                    <img src="{{root}}/assets/img/ico4.png" alt="">
                    <h3 class="how--title">
                        Get Gifted
                        $4000
                    </h3>
                    <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
                        <p class="uk-h4 uk-margin-remove">
                            There are FOUR (4) Tiers,
                            $500 ($2000),
                            $1000 ($4000),
                            $2000 ($8000),
                            $4000 ($16000)

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>