<div class='profile--card'>
	<img src='assets/img/earth.svg' alt=''>
		<div class='uk-flex-between uk-flex uk-flex-wrap'>
			<h2>ID: 50129</h2>
			<h2>Earth</h2>
		</div>
		<div class='uk-child-width-1-4@m uk-margin-top uk-flex uk-flex-wrap'>
			<div>
				<h2>2</h2>
				<h3>TIER</h3>
			</div>
			<div>
				<h2>1</h2>
				<h3>CYCLES</h3>
			</div>
		</div>
	<div class='uk-margin-top'>
		<div>
			<h2>2.051 EOS</h2>
			<h3>BALANCE</h3>
		</div>
	</div>
	<div class='uk-margin-top uk-flex uk-flex-wrap uk-flex-between'>
		<button>NAIRA</button>
		<button>USD</button>
		<button>EUR</button>
	</div>
	<div class='uk-margin-top uk-flex'>
		<h2>1 EOS = $2.63</h2>
	</div>
	<div class='uk-child-width-1-4@m uk-margin-top uk-flex uk-flex-wrap'>
		<div>
			<h2>2</h2>
			<h3>FIRE</h3>
		</div>
		<div>
			<h2>2</h2>
			<h3>WIND</h3>
		</div>
		<div>
			<h2>2</h2>
			<h3>EARTH</h3>
		</div>
	</div>
		<div class="uk-margin">
			<label class='uk-flex' for='notifications'>
				<input id='notifications' class="uk-radio uk-margin-right uk-margin-small-top" type="radio" name="radio2">
				<span class='radio--label'>Enable Notifications</span>
			</label>
		</div>
</div>